/*
    Created on : Mar 25, 2020, 1:07:51 AM
    Author     : acampos
*/
body {
  background-color : darkgray;
}

#main-div {
  position : absolute;
  top      : 0;
  bottom   : 0;
  width    : 100%;
  height   : 100%;
  border   : 1px solid magenta;
}

#top-div {
  /*border: 1px solid blue;*/
  height           : 61px;
  /*padding: 3px;*/

  /*    display: flex;*/
  /*height: 60px;*/
  text-align       : right;
  background-color : #ff000080; /*Chrome and Firefox only*/
}

#title-div {
  float      : left;
  text-align : left;
  color      : white;
}

#add-div {
  /*float: right;*/
  color            : white;
  font-weight      : bold;
  font-size        : 40px;
  background-color : orange;
  width            : 50px;
      height           : 50px;
      border-radius    : 25px;
      text-align       : center;
  cursor           : pointer;
  display          : inline-block;
  margin           : 5px 15px;
  /*margin: 20px;*/
}

#add-div:hover {
  box-shadow : 3px 3px 3px #555;
}

#list-div {
  /*margin-top: 50px;*/
  /*border: 1px solid red;*/
}

.disable-selection {
  -moz-user-select      : none; /* Firefox */
  -ms-user-select       : none; /* Internet Explorer */
  -khtml-user-select    : none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select   : none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout : none; /* Disable Android and iOS callouts*/
}

.completed {
  color            : gray;
  background-color : lightgray;
  text-decoration  : line-through;
}

.option-completed {
  background-color : lightgray !important;
}
