/*
    Created on : Mar 25, 2020, 1:08:03 AM
    Author     : acampos
*/
.item {
  display: inline-block;
  width: 150px;
  height: 82px;
  background-color: whitesmoke;
  cursor: pointer;
  margin: 5px;
}

.clicked{
    box-shadow: 5px 5px 5px orange;
}

/*.item .bar {
  width: 10px;
  height: 82px;
  background-color: orange;
  float: right;
}*/


.item .text {
    width: 113px;
    height: 76px;
    position: relative;
    top: 0px;
    display: inline-block;
    border: none;
    resize: none;
}

.text:focus {
    background-color: lightblue;
}
.is-editing{
    background-color: yellowgreen;
}

.item .options{
  width: 30px;
  height: 82px;
  background-color: rgba( 255, 165, 0, 0.2 );
  float: right;
  /*visibility: hidden;*/
  /*width: 0;*/
  text-align: center;
}

.item .options .option {
  /*background: cyan;*/
  height: 41px;
  display: block;
}

.item .options .option .option-content{
  /*clear: both;*/
  margin: 0;
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*border: 1px solid red;*/
}

.item .options .done{
  /*display: block;*/
  color: lightseagreen;
  /*border: 1px solid cyan;*/
}
.item .options .remove{
  /*display: block;*/
  color: coral;
  /*border: 1px solid cyan;*/
}

.item .options .option:hover {
  border: 1px solid gray;
}

.bordered {
    /*border: 2px solid red;*/
    width: 113px;
    height: 76px;
    position: relative;
    top: 0px;
    display: inline-block;
    /*border: none;*/
    resize: none;
}
